@import 'fonts.css';
@import 'normalize.css';
@import 'animation.css';

/* global classes  */

html {
	scroll-behavior: smooth;
}

.container{
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
}

.btn{
    background-color: #6fb048;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;   
}

.all__h2{
    font-size: 32px;
    color: #0f5f5c;
    text-align: center;
}

.all__hr{
    width: 65px;
    height: 1px;
    border: none;
    background-color: #6fb048;
    margin: 15px auto;
}

.all__p{
    font-size: 15px;
    color: #83a7a5;
    text-align: center;
    line-height: 1.5;
}

/* -------------------------- */

/* Login part */

.right__menu{
    width: 400px;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    background-color: gray;
    border-radius: 0 0 20px 20px;
    font-family: "Montserrat-Regular", sans-serif;
    box-shadow: 0 0 10px 10px green;
    display: none;
}

.right__menu-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.right__menu-top__div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid ;
    position: absolute;
    right: 10px;
    top: 10px;
}

.right__menu-top__div:hover{
    background-color: red;
    border: none;
    cursor: pointer;

}

.right__menu-top__div-img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right__menu-top-h2{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;    
    font-weight: 700;
    color: blue;
}

.login__form{
    padding: 20px 10px;
}

.login__form-div{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

.login__form-div-third{
    margin-top: 15px;
}

.login__form-div-fourth{
    margin-top: 20px;
}

.login__form-div > label {
    font-size: 16px;
    color:white;
    text-transform: uppercase;
    margin: 10px 20px;
}

.login__form-div > input {
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
}

#login__checkbox{
    color: white;
}

.login__form-div-four{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.login__form-div-four > button{
    padding: 10px 20px;
    margin: 15px;
    border-radius: 10px;
    background-color: green;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.login__form-div-four > button:hover{
    box-shadow: 0 0 5px 5px green;
    background-color: gray;
    border-radius: 25px;
    animation: 1s animeOne infinite steps(60);
}





header{    
    width: 100%;
    height: auto;
    background: url('../img/imgbackground.png');
    background-size: cover;
    background-position: center;    
}

.home__nav {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.home__nav-div{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.home__nav__left-side__a {
    font-family: "Proxima-Nova", sans-serif;
    font-size: 29px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    animation: 1s animeOne infinite steps(3600);
}

.home__nav__left-side__hr {    
    margin: 0 20px;      
    border: none;
    background-color: #00000020;
    width: 1px;
    height: 20px;
}
.home__nav__left-side__div-span {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 13px;
    font-weight: 900;
    color: white;    
}

.home__nav__right-side-content{
    display: flex;
    align-items: center;
    font-family: "Montserrat-Regular", sans-serif;    
}

.home__nav__right-side-content__ul{
    display: flex;
}

.home__nav__right-side-content__ul-li{
    margin: 0 15px;    
}

.home__nav__right-side-content__ul-li:hover{
    color: #000000;
    box-shadow: 0 0 3px 5px #00000050;
    border-radius: 10px;
    padding: 5px;
}

.home__nav__right-side-content__ul-li-a{
    color: #bcc6c6;
    font-size: 13px;   
    font-weight: 700; 
    text-decoration: none;
}

.home__nav__right-side-content__button {
    margin-left: 15px;
    padding: 10px;
    background-color: #6a7f80;
    border: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;    
    font-size: 12px;
    font-weight: 700;
}

.home__nav__right-side-content__button:hover{
    background-color: gray;
    color: #000000;
    box-shadow: 0 0 3px 5px #00000050;
    border-radius: 10px;
    padding: 10px;
}

.home__nav-hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #00000010;  
}

.home-contain__block-main{
    padding: 200px 0;
    font-family: "Roboto-Regular", sans-serif;
    color: white;    
 }

.home-contain__block-main__h1{
    font-size: 38px;    
}

.home-contain__block-main__p{
    padding: 20px 0;
    line-height: 1.5;
    font-size: 16px;
}

.home-contain__block-main__button{
    background-color: #6fb048;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
}

.home-contain__block-main__button:hover{
    animation: 1s animeOne infinite steps(60);    
}

/* HOME BEST AND FEATURES */

.home__best-and-features{    
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    padding: 100px 0;
}

.home__best-and-features-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 0;
}

.home__best-and-features-content__div{
    width: 32%;
    height: auto;
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home__best-and-features-content__div-img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.home__best-and-features-content__div-h3{
   font-size: 16px;
   margin-top: 20px;
   margin: 25px auto 20px;    
   color: #0f5f5c;
}

.home__best-and-features-content__div-p{
   font-size: 14px;
   color: #83a7a5;   
   line-height: 1.5; 
}

.home__best-and-features-hr__height{
    border: none;   
    background-color: #f2f2f2;
    width: 1px;
    height: 90px;
    margin: 0 auto;
 }

 .home__best-and-features-hr__width{
    margin-top: 0px;
    border: none;   
    background-color: #f2f2f2;
    width: 90px;
    height: 1px;
    margin: 0 auto;
 }

 /* CROSSBROWSES */

.home__cross-browser{
    padding: 50px 0 30px;  
    display: flex;
    align-items: flex-start;
}

.home__cross-browser-content-div__block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    justify-content: center;
}

.home__cross-browser-content-div-padding{
    padding-top: 50px;
}

.home__cross-browser-content-div__left-side{
    margin-right: 35px;
}

.home__cross-browser-content-div__right-side{
    margin-left: 35px;
}

.home__cross-browser-content-div__block-div{
    display: flex;
    align-items: center;    
}

.home__cross-browser-content-div__block-div-img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.home__cross-browser-content-div__block-div-h3{
    font-size: 16px;
    margin-left: 20px;
    color: #0f5f5c;
}

.home__cross-browser-content-div__block-p{
    font-size: 14px;
    color: #8badab;
    text-align: left;
    margin-top: 20px;
    line-height: 1.5;
}

/* HOME RESPONSIVE - READY */

.responsive-ready{
    width: 100%;
    height: auto;
    background-color: #eef1ec;    
    font-family: "Roboto-Regular", sans-serif;  
    padding-top: 75px; 
}

.home__responsive-ready-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.home__responsive-ready-content__div{
    margin-left: 90px;
}

.home__responsive-ready-content__div-h2{
    text-align: left;
    margin-bottom: 15px;
}

.home__responsive-ready-content p{
    font-size: 14px;
    color: #8aacaa; 
    line-height: 1.5;    
}

.home__responsive-ready-content__div-block{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.home__responsive-ready-content__div-block__img{
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.home__responsive-ready-content__div-block__p{
    margin-left: 10px;
}

/* HOME Valeria Boltneva */

.home-valeria__boltneva{
    padding: 140px 0;
}

.home-valeria__boltneva-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "MerriWeather-Regular", sans-serif;
}

.home-valeria__boltneva-content{
    width: 50%;
    height: auto;
}

.home-valeria__boltneva-content__right-side{
    margin-left: 150px;
}

.home-valeria__boltneva-content__p{
    font-size: 22px;
    color: #8badab;
    font-weight: 100;
    line-height: 2;
}

.home-valeria__boltneva-content__h3{
    font-size: 14px;
    color: #6fb048;
    margin: 15px 0 10px;
    font-weight: 700;
}

.home-valeria__boltneva-content__bottom-p{
    font-size: 14px;
    color: #8badab;    
    font-weight: 300;
    display: block;
}

.home-valeria__boltneva-content__img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}

/* HOME Globus-content */

.home-globus{
    width: 100%;
    height: auto;
    background-color: #eef1ec;
    font-family: "Roboto-Regular", sans-serif;
    padding: 55px 0;
}

.home-globus__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-globus__content-div{
    width: 50%;
    height: auto;
}

.home-globus__content-div__h2{
    text-align: left;
    margin-bottom: 15px;
}

.home-globus__content-div__p{
    font-size: 14px;
    color: #8aacaa;
    line-height: 1.5;
}

.home-globus__content-div__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*HOME Pricing and Plan */

.home__pricing-and-plan{    
    padding: 95px 0;   
    font-family: "Roboto-Regular", sans-serif;
}

.home__pricing-and-plan-p{
    line-height: 1.5;
}

.home__pricing-and-plan-content{
    padding: 35px 0 75px;
    margin: 0 auto;
    display: flex;
    justify-content: center;   
}

.home__pricing-and-plan__items{
    width: 255px;
    height: auto;    
    padding: 30px 50px;
    text-align: center;
}

.home__pricing-and-plan__items-first, .home__pricing-and-plan__items-third{
    border: 1px solid #c1d3d2;   
}

.home__pricing-and-plan__items-first{
    border-radius: 5px 0 0 5px;
}

.home__pricing-and-plan__items-third{
    border-radius: 0 5px 5px 0;
}

.home__pricing-and-plan__items-second{
    border-top: 1px solid #c1d3d2;
    border-bottom: 1px solid #c1d3d2; 
}

.home__pricing-and-plan__items-h3{
    font-size: 15px;
    text-transform: uppercase;
    color: #6fb048;
    font-weight: 700;
    margin-bottom: 25px;
}

.home__pricing-and-plan__items-h4{
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 65px;
    color: #0f5f5c;
    font-weight: 700;
}

.home__pricing-and-plan__items-span{
    font-size: 15px;
    color: #0f5f5c;
}

.home__pricing-and-plan__items-p{
    font-size: 14px;
    color: #8badab;
    margin: 15px 0;
}

.pricing-and-plan__items-p__top{
    margin-top: 25px;
}

.pricing-and-plan__items-p__bottom{
    margin-bottom: 25px;
}

.home__pricing-and-plan__items-button{
    font-family: "Montserrat-Regular", sans-serif;
    padding: 15px 25px;
    background-color: #83a7a5;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.home__pricing-and-plan__items-button:hover{
    background-color: #6fb048;    
}

/* Included with all Plans */

.home__included-with-all-plans__h2{
    font-size: 22px;
    font-family: "Roboto-Regular", sans-serif;
}

.home__included-with-all-plans__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto-Regular", sans-serif;
}

.home__included-with-all-plans__container-item-block{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.home__included-with-all-plans__container-item__p{
    font-size: 14px;
    color: #8badab;
    margin-left: 10px;
}

/* NEED HELP */

.home__need-help{
    text-align: center;
    margin-top: 50px;
    font-family: "Roboto-Regular", sans-serif;
}

.home__need-help__img{
    width: 42px;
    height: 42px;
    object-fit: contain;
    margin-bottom: 15px;
}

.home__need-help__img:hover{
    animation: 1s animeTwo infinite steps(60);
    cursor: pointer;
}

.home__need-help__h4{
    font-size: 32px;
    color: #6fb048;
}

.home__need-help__p-bottom{
    margin-bottom: 35px;
    line-height: 1.5;
}
.home__need-help__a{
    font-size: 18px;
    color: #0f5f5c;
    font-weight: 700;
}

/* DO YOU LIKE WAPIK */

.home__download__now{
    width: 100%;
    height: auto;
    background: url(../img/images/imgLikeWapik.png);
    background-size: 100%;
    background-position: center;
}

.home__download__now-white-part__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
} 

.home__download__now-left-side{
    font-family: "Roboto-Regular", sans-serif;
}

.home__download__now-left-side__h2{
    color: #0f5f5c;
    font-size: 28px;
    font-weight: 400;    
} 

.home__download__now-left-side__p{
    font-weight: 400;   
    margin-top: 15px; 
} 

.home__download__now-right-side__button {
    font-family: "Montserrat-Regular", sans-serif;
    padding: 15px 20px;
    background-color: #6fb048;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.home__download__now-right-side__button:hover{
    box-shadow: 0 0 10px 10px green;
    background-color: gray;
    border-radius: 25px;
    animation: 1s animeOne infinite steps(60);
}

/* Footer */

footer{
    padding-top: 100px;
    font-family: "Roboto-Regular", sans-serif;
}

.home__our__web{    
    display: flex;
    justify-content: space-between;
    font-family: "Roboto-Regular", sans-serif;
    padding-bottom: 60px;
}

.home__our__web-wapik__p{
    color: #83a7a5;
    font-size: 13px;   
}

.home__our__web-a{
    margin: 5px 0; 
    font-weight: 400;  
    color: #83a7a5;
    font-size: 13px; 
}

.home__our__web-h3{
    margin-bottom: 15px;   
    font-size: 13px; 
    color: #0f5f5c;
}

.home__our__web-div{   
    width: 25%; 
    display: flex;
    flex-direction: column;
}

.home__our__web-wapik__h2{
    font-family: "Proxima-Nova", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: #0f5f5c;
    margin-bottom: 8px;
}

.home__our__web-wapik__p{
    font-size: 22;
    margin: 5px 0;  
    line-height: 1.5;  
}
.home__our__web-wapik__top-span{
    font-size: 13px;
    color: #1f6a67;
    font-weight: 700;
    margin-left: 5px;
}
.home__our__web-wapik__bottom-span{
    margin-left: 15px;
}

.home__our__web-newsletter-div{
    background-color: #eef1ec;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    display: flex;
}

#home__our__web-newsletter-button__input{
    background-color: #eef1ec;
    font-size: 13px;
    width: 100%;    
}

.home__our__web-hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #00000020;
}

.footer__bottom-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__footer-div{
    margin: 15px 0;
}

.home__footer__left-side__p {
    font-size: 12px;
    color: #83a7a5;
}

.home__footer-div{
    display: flex;
}

.home__footer__right-side__a{
    width: 30px;
    height: 30px;   
    border-radius: 50%;
    margin: 0 5px; 
    position: relative;    
}

.home__footer__right-side__a:hover{
    width: 35px;
    height: 35px;  
    opacity: 0.7;  
}

.home__footer__right-side__a-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home__footer__icon-Twitter{
    background-color: #55acee;
}

.home__footer__icon-Facebook{
    background-color: #3b5998;
}

.home__footer__icon-Instagram{
    background-color: #3f729b;
}

.home__footer__icon-Dib{
    background-color: #ea4c89;
}

.home__footer__icon-Github{
    background-color: #333333;
}

/* CONTACT US */

.contact-us__nav{    
    font-family: "Proxima-Nova", sans-serif;    
}

.nav__contact-us-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.contact-us__nav-div {
   display: flex;
   align-items: center;
}

.contact-us__nav-left-side__a{
    color: #0f5f5c;
    font-size: 29px;    
    font-weight: 900;
    text-transform: uppercase;
    animation: 1s animeOne infinite steps(3600);
}

.contact-us__nav-left-side__hr{
    border: none;
    background-color: #c1d3d2;
    width: 1px;
    height: 20px;
    margin: 0 25px;
}

.contact-us__nav-left-side__phone-content__span{
    font-size: 13px;
    font-weight: 700;
    color: #83a7a5;
    margin-left: 5px;
}

.contact-us__nav-right-side__ul-button-contain__ul{
    display: flex;
    font-weight: 700;
    font-family: "Montserrat-Regular", sans-serif;
    text-transform: uppercase;
}

.contact-us__nav-right-side__ul-button-contain__ul-li{
    margin: 0 15px;
    color: #83a7a5;
}

.contact-us__nav-right-side__ul-button-contain__ul-li-a{
    color: #83a7a5;
    font-size: 13px;
}

.contact-us__nav-right-side__ul-button-contain__ul-li:hover{
    color: #000000;
    box-shadow: 0 0 3px 5px #00000050;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.contact-us__nav-right-side__ul-button-contain__button{
    margin-left: 15px;
    padding: 10px;
    background-color: #6fb048;
    border: none;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    margin-left: 15px;
    font-weight: 700;
    font-family: "Montserrat-Regular", sans-serif;    
    font-size: 12px;
}

.contact-us__nav-right-side__ul-button-contain__button:hover{
    background-color: #00000020;
    color: green;
    box-shadow: 0 0 3px 5px lightgreen;
    border-radius: 10px;
    padding: 10px;
}

.contact-us__map-img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.form-block{
    padding: 75px 0 100px;
    font-family: "Roboto-Regular", sans-serif;
}

.contact-us__container-form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 30px 0;
}

.contact-us__container-form-left-side__div-form-div{
    width: 510px;
    height: 45px;
    border: 1px solid #c1d3d2;
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.contact-us__container-form-left-side__div-form-div__input{
    font-size: 14px;
    width: 100%;
    height: auto;
}

.contact-us__container-form-left-side__div-form-div__textarea{
    width: 510px;
    height: auto;
    margin: 25px 0;
    border: 1px solid  #c1d3d2;
    padding: 5px 10px;
    display: block;
}

.contact-us__container-form-left-side__div-form__button{
    font-family: "Montserrat-Regular", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 15px 40px;
    background-color: #6fb048;
    color: white;
    border-radius: 5px;
}

.contact-us__container-form-left-side__div-form__button:hover{
    box-shadow: 0 0 10px 10px green;
    background-color: gray;
    border-radius: 25px;
    animation: 1s animeOne infinite steps(60);
}


.contact-us__container-form-right-side__div{
    width: 340px;
    height: 270px;
    border: 1px dashed #c1d3d2;
    margin-top: 25px;
    margin-left: 10px;   
    padding-top: 35px;
    padding-left: 40px;

}

.contact-us__container-form-right-side__div-h2{
    font-family: "Roboto-Regular", sans-serif;
    font-size: 22px;
    color: #1f6a67;
    text-transform: uppercase;
    font-weight: 400;
}

.contact-us__container-form-right-side__div-div{
    display: flex;
    align-items: center;
}

.contact-us__container__form-right-side__div-div__img{
    width: 18px;
    height: 18px;
    object-fit: contain;
}
.contact-us__container-form-right-side__div-div > p, span{
    margin-left: 10px;       
}

.contact-us__container__form-right-side__div-div__span{
    color: #0f5f5c;    
    font-weight: 700; 
    font-size: 15px;
}

.contact-us__container-form-right-side__div p {
    font-size: 15px;
    color: #94b3b1;
    line-height: 1.5;
}

.contact-us__container__form-right-side-middle-p, .contact-us__container__form-right-side-bottom-p{
    margin-left: 25px;
}

.contact-us__container__form-right-side__location{
    margin-top: 20px;
}

.contact-us__container__form-right-side__location__phone{
    margin-top: 30px;
}

.contact-us__container__form-right-side__location__message{
    margin-top: 10px;
}


/* ABOUT US */

.header__about-us{    
    width: 100%;
    height: auto;
    background: url('../img/imgbackgroundcity.png');
    background-size: cover;
    background-position: center;
}

.about-us-contain__block-main{
    padding: 160px 0;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    color: white;
 }

.about-us-contain__block-main__h1{
    font-size: 50px; 
    font-weight: 400;   
    margin-bottom: 30px;
}

.about-us__nav__right-side-content__button{
    background-color: #7f9090;
}

.about-us__nav-hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #00000020;

}

.about-us-contain__block-main__button{
    background-color: #6fb048;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 25px;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;   
}

.about-us-contain__block-main__button:hover{
    animation: 1s animeOne infinite steps(60);   
}

/* ABOUT US BLOCK */

.about-us__block{    
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    padding: 75px 0 105px;
}

.about-us__block-p{    
    padding: 20px 0;
    line-height: 1.5;
}

/* ABOUT US MEET OUR TEAM */

.about-us__meet-our-team{
    widows: 100%;
    height: auto;
    background-color: #eef1ec;
    padding: 75px 0 120px;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
}

.about-us__meet-our-team-contain__p{
    padding: 20px 0;
}

.about-us__meet-our-team-contain__div{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.about-us__meet-our-team-contain__div-items{
    text-align: left;
    transform: rotate(0deg);
}

.about-us__meet-our-team-contain__div-items:hover{
    animation-duration: 2s;
    animation-name: animeThree; 
    box-shadow: 0 0 5px 5px #00000080;
    padding: 10px;
    border-radius: 10px;
}

.about-us__meet-our-team-contain__div-items__img{
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}
.about-us__meet-our-team-contain__div-items__h4{
    margin: 5px 0;
    font-size: 15px;
    color: #0f5f5c;
    font-weight: 700;
}

.about-us__meet-our-team-contain__div-items__p{
    font-size: 14px;
    color: #83a7a5;;
}

.about-us__download__now{
    width: 100%;
    height: auto;
    background: url(../img/images/imgdownloadfreegreen.png);
    background-size: 100%;
    background-position: center;
}

.about-us__download__now-left-side__h2{
    color: white;
    font-size: 28px;
    font-weight: 400;    
} 

.about-us__download__now-left-side__p{
    color: white;
    font-size: 15px;
    font-weight: 400;   
    margin-top: 15px; 
} 

.about-us__download__now-right-side__button {
    font-family: "Montserrat-Regular", sans-serif;
    padding: 15px 20px;
    background-color: #49732f;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.about-us__download__now-right-side__button:hover{
    box-shadow: 0 0 10px 10px red;
    background-color: gray;
    border-radius: 25px;
    animation: 1s animeOne infinite steps(60);
}

/* PRICING */

.pricing{
    background-color: #eef1ec;
    font-family: "Roboto-Regular", sans-serif;
}

.pricing__nav-hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #00000010;
}

.pricing__pricing-and-plan{
    padding: 60px 0;

}

.pricing__pricing-and-plan__p{
    padding: 20px 0;
}

.pricing__pricing-and-plan-block{
    padding: 30px 0;
}

.pricing__pricing-and-plan-block__items{
    background-color: white;
}

.pricing__pricing-and-plan-bottom__p{
    font-size: 14px;
    color: #8aacaa;
    text-align: center;
}

.pricing__included-with-all-plans{
    padding: 80px 0 95px;
}

/* @MEDIA */

@media (max-width: 998px){
    .all__h2{
        font-size: 30px;      
    }
    
    .all__hr{
        width: 62px;
        margin: 14px auto;
    }
    
    .all__p{
        font-size: 14px;        
    }

    .home__nav__right-side-content__ul{
        display: none;
    } 

    .home__nav{
        margin-left: 30px;
    }

    .home-contain__block-main{
       margin-left: 30px;
    }

    .home__best-and-features{
        padding: 80px 0;
    }

    .home__best-and-features-content__div{
        width: 30%;
        height: auto;
        margin-top: 30px;
    }

    .home__best-and-features-hr__height{
        height: 80px;
    }
    
    .home__best-and-featuress-hr__width{
        width: 80px;
    }

    .home__cross-browser{
        padding: 45px 0 25px; 
    }


    .home__cross-browser-content-div-padding{
        padding-top: 45px;
    }

    .home__cross-browser-content-div{
        width: 45%;

    }
    
     .home__cross-browser-content-div__left-side{
        margin-right: 25px;
    }
    
    .home__cross-browser-content-div__right-side{
        margin-left: 25px;
    }   
    
    .home__cross-browser-content-div__block-div-img{
        width: 38px;
        height: 38px;
    }
    
    .home__cross-browser-content-div__block-div-h3{
        font-size: 15px;
        margin-left: 18px;
    }
    
    .home__cross-browser-content-div__block-p{
        font-size: 14px; 
        margin-top: 18px;
    }

    .responsive-ready{         
        padding-top: 65px; 
    }
    
    .home__responsive-ready-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;
    }
    
    .home__responsive-ready-content__div-rightside{
        padding: 125px 0;
        margin-top: 10px;
    }
    
    .home__responsive-ready-content__div{
        width: 50%;
    }

    .home__responsive-ready-content__div-img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .home__responsive-ready-content p{
        font-size: 13px;    
    }

    .home__responsive-ready-content__div-rightside{
        margin-left: 10px;
    }
       
    .home__responsive-ready-content{
        margin-top: 68px;
    }
    
    .home__responsive-ready-content__div-rightside{
        padding: 0 0;
    }
    
    .home__responsive-ready-content__div-h2{
        margin-bottom: 13px;
    }    
        
    .home__responsive-ready-content__div-block{
        margin: 8px 0;
    }
    
    .home__responsive-ready-content__div-block__img{
        width: 24px;
        height: 24px;
    }
    
    .home__responsive-ready-content__div-block__p{
        margin-left: 9px;
    }

    .home-valeria__boltneva{
        padding: 80px 0;
    }   

    .home-valeria__boltneva-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .home-valeria__boltneva-content__p{
        font-size: 20px;
    }
    
    .home-valeria__boltneva-content__h3{
        font-size: 13px;
        margin: 14px 0 9px;
    }
    
    .home-valeria__boltneva-content__bottom-p{
        font-size: 13px;
        display: block;
    }

    .home-valeria__boltneva-content{
        width: 50%;
        padding: 5px;
    }

    .home-valeria__boltneva-content__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .home-globus{
        padding: 45px 0;
    }
    
    .home-globus__content-div{
        width: 50%;
        padding: 5px;
    }
    
    .home-globus__content-div__h2{
        font-size: 28px;
    }
    
    .home-globus__content-div__p{
        font-size: 13px;
    }
    
    .home-globus__content-div__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .home__pricing-and-plan{    
        padding: 85px 0;          
    }

    .home__pricing-and-plan-content{
        padding: 30px 0 60px;         
    }
    
    .home__pricing-and-plan__items{
        width: 33%;    
        padding: 20px 40px;
    }   
    
    .home__pricing-and-plan__items-h3{
        font-size: 14px;        
        margin-bottom: 23px;
    }
    
    .home__pricing-and-plan__items-h4{        
        font-size: 55px;
    }
    
    .home__pricing-and-plan__items-span{
        font-size: 14px;        
    }
    
    .home__pricing-and-plan__items-p{       
        margin: 13px 0;
    }
    
    .pricing-and-plan__items-p__top{
        margin-top: 23px;
    }
    
    .pricing-and-plan__items-p__bottom{
        margin-bottom: 23px;
    }
    
    .home__pricing-and-plan__items-button{        
        padding: 13px 22px;
        font-size: 10px;
    }
    
    .home__included-with-all-plans__h2{
        font-size: 20px;
    }    

    .home__included-with-all-plans__container-item{
        width: 33%;
        padding: 5px;
    }    
    
    .home__included-with-all-plans__container-item__p{
        font-size: 13px;        
    }

    .home__need-help{        
        margin-top: 40px;
    }
    
    .home__need-help__img{       
        margin-bottom: 13px;
    }
    
    .home__need-help__h4{
        font-size: 29px;        
    }
    
    .home__need-help__p-bottom{
        margin-bottom: 32px;
    }
    .home__need-help__a{
        font-size: 16px;
    }    
    
    .home__download__now-white-part__container{
        padding: 60px 0;
    }        
    
    .home__download__now-left-side__h2{        
        font-size: 20px;
        text-align: center;
    } 
    
    .home__download__now-left-side__p{        
        margin-top: 13px; 
        text-align: left;
    } 
    .home__download__now-white-part__container-item{
        width: 50%;
        padding: 5px;
    }
    
    .home__download__now-right-side__button {
        padding: 13px 17px;
        font-size: 13px;
    }    

    footer{
        padding-top: 80px;        
    }
    
    .home__our__web{ 
        padding-bottom: 50px;
    }
    
    .home__our__web-wapik__p{
        font-size: 12px;   
    }
    
    .home__our__web-a{        
        font-size: 12px; 
    }
    
    .home__our__web-h3{
        margin-bottom: 13px;   
        font-size: 12px;         
    }
    
    .home__our__web-div{   
        width: 25%;  
        padding: 5px;       
    }
    
    .home__our__web-wapik__h2{        
        font-size: 20px;       
        margin-bottom: 7px;
    }
    
    .home__our__web-wapik__p{
        font-size: 9px;        
    }

    .home__our__web-a{
        font-size: 9px;   
    }

    .home__our__web-wapik__top-span{
        font-size: 12px;        
        margin-left: 5px;
    }
    .home__our__web-wapik__bottom-span{
        margin-left: 10px;
    }
    
    .home__our__web-newsletter-div{        
        padding: 13px;        
    }
    
    #home__our__web-newsletter-button__input{        
        font-size: 10px;        
    }     
    
    .home__footer-div{
        margin: 14px 0;
        padding: 5px;
    }
    
    .home__footer__left-side__p {
        font-size: 11px;       
    }
    
    .home__footer__right-side__a{
        width: 29px;
        height: 29px;           
    }    
    
    /* ABOUT US */
    
    .about-us-contain__block-main{
        padding: 140px 0;
     }
    
    .about-us-contain__block-main__h1{
        font-size: 35px;       
        margin-bottom: 30px;
    }
    
    .about-us-contain__block-main__button{
        background-color: #6fb048;
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px 25px;
        font-family: "Montserrat-Regular", sans-serif;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        color: white;
        font-weight: 700;   
    }

    .home__best-and-features-content{
        width: 100%;
    }

    .home__best-and-features-content__div{
        width: 32%;
        padding: 5px;
    }

    .about-us__block{            
        padding: 65px 0 90px;
    }
    
    .about-us__block-p{    
        padding: 17px 0;        
    }
    
    /* ABOUT US MEET OUR TEAM */
    
    .about-us__meet-our-team{       
        padding: 60px 0 90px;       
    }
    
    .about-us__meet-our-team-contain__p{
        padding: 17px 0;
    }
    
    .about-us__meet-our-team-contain__div{        
        padding-top: 55px;
    }    
    
    .about-us__meet-our-team-contain__div-items{
        width: 32%;
        padding: 5px;
    }

    .about-us__meet-our-team-contain__div-items__img{        
        margin-bottom: 8px;
    }
    
    .about-us__meet-our-team-contain__div-items__p{
        font-size: 13px;
    }    
        
    .about-us__download__now-left-side__h2{        
        font-size: 20px;       
        text-align: center;  
    } 
    
    .about-us__download__now-left-side__p{       
        font-size: 12px;        
        margin-top: 13px; 
    } 
    
    .about-us__download__now-right-side__button {        
        padding: 12px 17px;
        font-size: 13px;
    }

    /* CONTACT US */

    .form-block{
        padding: 65px 0 85px;
    }
    
    .contact-us__container-form{
        width: 100%;
        padding: 40px;
    }  

    .contact-us__nav-right-side__ul-button-contain__ul{
        display: none;
    }
    
    .contact-us__container-form-left-side__div{
        width: 58%;
        padding: 5px;
    }
    
    .contact-us__container-form-left-side__div-form-div{
        width: 100%;
        height: auto;        
        margin-top: 22px;        
        padding: 4px 8px;
    }    

    .contact-us__container-form-left-side__div-form-div__input{
        font-size: 13px;
        width: 100%;       
    }
    
    .contact-us__container-form-left-side__div-form-div__textarea{
        width: 100%;
        height: auto;
        margin: 22px 0;        
        padding: 4px 8px;        
    }
    
    .contact-us__container-form-left-side__div-form__button{       
        font-size: 12px;        
        padding: 14px 35px;
    }        
    
    .contact-us__container-form-right-side__div{
        width: 38%;       
        margin-top: 22px;
        margin-left: 8px;   
        padding-top: 32px;
        padding-left: 36px;    
    }
    
    .contact-us__container-form-right-side__div-h2{        
        font-size: 20px;        
    }   
        
    .contact-us__container__form-right-side__div-div__img{
        width: 17px;
        height: 17px;        
    }
    .contact-us__container-form-right-side__div-div > p, span{
        margin-left: 9px;       
    }
    
    .contact-us__container__form-right-side__div-div__span{        
        font-size: 14px;
    }
    
    .contact-us__container-form-right-side__div p {
        font-size: 14px;        
    }
    
    .contact-us__container__form-right-side-middle-p, .contact-us__container__form-right-side-bottom-p{
        margin-left: 22px;
    }
    
    .contact-us__container__form-right-side__location{
        margin-top: 18px;
    }
    
    .contact-us__container__form-right-side__location__phone{
        margin-top: 27px;
    }
    
    .contact-us__container__form-right-side__location__message{
        margin-top: 8px;
    }
    
    /* PRICING */
        
    .pricing__pricing-and-plan{
        padding: 45px 0;
    
    }
    
    .pricing__pricing-and-plan__p{
        padding: 17px 0;
    }
    
    .pricing__pricing-and-plan-block{
        padding: 25px 0;
    }
        
    .pricing__pricing-and-plan-bottom__p{
        font-size: 13px;
        
    }
    
    .pricing__included-with-all-plans{
        padding: 60px 0 75px;
    } 
}

@media (max-width: 768px){
    .all__h2{
        font-size: 24px;      
    }
    
    .all__hr{
        width: 58px;
        margin: 14px auto;
    }
    
    .all__p{
        font-size: 14px;        
    }

    .home__nav__right-side-content__ul{
        display: none;
    } 

    .home__nav{
        margin-left: 20px;
    }

    .home-contain__block-main{
       margin-left: 30px;
    }

    .home__best-and-features{
        padding: 65px 0;
    }

    .home__best-and-features-content__div{
        width: 30%;
        height: auto;
        margin-top: 20px;
    }

    .home__best-and-features-hr__height{
        height: 70px;
    }
    
    .home__best-and-features-hr__width{
        width: 70px;
    }

    .home__cross-browser{
        padding: 40px 0 20px; 
    }

    .home__cross-browser-content-div-padding{
        padding-top: 40px;
    }

    .home__cross-browser-content-div{
        width: 45%;
    }
    
     .home__cross-browser-content-div__left-side{
        margin-right: 20px;
    }
    
    .home__cross-browser-content-div__right-side{
        margin-left: 20px;
    }   
    
    .home__cross-browser-content-div__block-div-img{
        width: 30px;
        height: 30px;
    }
    
    .home__cross-browser-content-div__block-div-h3{
        font-size: 14px;
        margin-left: 14px;
    }
    
    .home__cross-browser-content-div__block-p{
        font-size: 12px; 
        margin-top: 13px;
    }

    .responsive-ready{         
        padding: 45px 0 0; 
    }
    
    .home__responsive-ready-content{   
        margin:0 0;
    }
    
    .home__responsive-ready-content__div-rightside{
        padding: 95px 0;
    }
    
    .home__responsive-ready-content__div-h2{
        font-size: 25px;        
        margin-bottom: 13px;
    }   
    
    .home__responsive-ready-content p{
        font-size: 12px;    
    }

    .home__responsive-ready-content__div-rightside{
        margin-left: 10px;
    }    
    
    .home__responsive-ready-content{
        margin-top: 50px;
    }
    
    .home__responsive-ready-content__div-rightside{
        padding: 0 0;
    }
    
    .home__responsive-ready-content__div-h2{
        margin-bottom: 13px;
    }    
        
    .home__responsive-ready-content__div-block{
        margin: 8px 0;
    }
    
    .home__responsive-ready-content__div-block__img{
        width: 24px;
        height: 24px;
    }
    
    .home-valeria__boltneva{
        padding: 80px 0;
    }   
    
    .home-valeria__boltneva-content__p{
        font-size: 17px;
    }    
    
    .home-valeria__boltneva-content__bottom-p{
        font-size: 12px;        
    }

    .home-globus{
        padding: 38px 0;
    }
    
    .home-globus__content-div__h2{
        font-size: 24px;
        text-align: center;
    }
    
    .home-globus__content-div__p{
        font-size: 12px;
    }  

    .home__pricing-and-plan{    
        padding: 70px 0;          
    }

    .home__pricing-and-plan-content{
        padding: 25px 0 50px;         
    }      
    
    .home__pricing-and-plan__items-h3{
        font-size: 12px;        
        margin-bottom: 15px;
    }
    
    .home__pricing-and-plan__items-h4{        
        font-size: 45px;
    }
    
    .home__pricing-and-plan__items-span{
        font-size: 12px;        
    }
    
    .home__pricing-and-plan__items-p{       
        margin: 8px 0;
        font-size: 10px;
    }
    
    .pricing-and-plan__items-p__top{
        margin-top: 20px;
    }
    
    .pricing-and-plan__items-p__bottom{
        margin-bottom: 17px;
    }
    
    .home__pricing-and-plan__items-button{        
        padding: 10px 20px;
        font-size: 8px;
    }
    
    .home__included-with-all-plans__h2{
        font-size: 18px;
    }       
    
    .home__included-with-all-plans__container-item__p{
        font-size: 11px;        
    }

    .home__need-help{        
        margin-top: 30px;
    }
    
    .home__need-help__img{       
        margin-bottom: 11px;
    }
    
    .home__need-help__h4{
        font-size: 25px;        
    }
    
    .home__need-help__p-bottom{
        margin-bottom: 25px;
    }
    .home__need-help__a{
        font-size: 14px;
    }    
    
    .home__download__now-white-part__container{
        padding: 40px 0;
    }        
    
    .home__download__now-left-side__h2{        
        font-size: 16px;
        text-align: center;
    } 
    
    .home__download__now-left-side__p{        
        margin-top: 10px; 
        font-size: 10px;
    }    
    
    .home__download__now-right-side__button {
        padding: 11px 15px;
        font-size: 11px;
    }    

    footer{
        padding-top: 65px;        
    }
    
    .home__our__web{ 
        padding-bottom: 40px;
    }
    
    .home__our__web-wapik__p{
        font-size: 11px;   
    }
    
    .home__our__web-a{        
        font-size: 11px; 
    }
    
    .home__our__web-h3{
        margin-bottom: 11px;   
        font-size: 11px;         
    }      
    
    .home__our__web-wapik__h2{        
        font-size: 17px;       
        margin-bottom: 6px;
    }  

    .home__our__web-a{
        font-size: 9px;   
    }

    .home__our__web-wapik__top-span{
        font-size: 10px;        
        margin-left: 5px;
    }
        
    .home__our__web-newsletter-div{        
        padding: 10px;        
    }  
    
    .home__footer-div{
        margin: 12px 0;
    }
    
    .home__footer__left-side__p {
        font-size: 10px;       
    }
    
    .home__footer__right-side__a{
        width: 26px;
        height: 26px;           
    }
    
    /* ABOUT US */
    
    .about-us-contain__block-main{
        padding: 110px 0;
     }
    
    .about-us-contain__block-main__h1{
        font-size: 30px;       
        margin-bottom: 30px;
    }
    
    .about-us-contain__block-main__button{        
        padding: 17px 22px;       
        font-size: 12px;
    }

    .home__best-and-features-content{
        width: 100%;
    }

    .home__best-and-features-content__div{
        width: 32%;
        padding: 5px;
    }

    .about-us__block{            
        padding: 45px 0 70px;
    }
    
    .about-us__block-p{    
        padding: 14px 0;
        font-size: 11px;       
    }

    /* ABOUT US MEET OUR TEAM */
    
    .about-us__meet-our-team{       
        padding: 40px 0 70px;       
    }
    
    .about-us__meet-our-team-contain__p{
        padding: 13px 0;
        font-size: 12px;        
    }
    
    .about-us__meet-our-team-contain__div{        
        padding-top: 30px;
    }   
            
    .about-us__download__now-left-side__h2{        
        font-size: 15px;       
        text-align: center;  
    } 
    
    /* CONTACT US */

    .form-block{
        padding: 45px 0 65px;
    }
       
    .contact-us__container-form-left-side__div-form__button{       
        font-size: 12px;        
        padding: 13px 32px;
    }    
    
    .contact-us__container-form-right-side__div-h2{        
        font-size: 16px;        
    }   
        
    .contact-us__container__form-right-side__div-div__img{
        width: 14px;
        height: 14px;        
    }

    .contact-us__container-form-right-side__div-div > p, span{
        margin-left: 9px;       
    }
  
    .contact-us__container__form-right-side__div-div__span{        
        font-size: 11px;
    }
    
    .contact-us__container-form-right-side__div p {
        font-size: 11px;        
    }
    
    .contact-us__container__form-right-side-middle-p, .contact-us__container__form-right-side-bottom-p{
        margin-left: 23px;
    }
    
    .contact-us__container__form-right-side__location{
        margin-top: 15px;
    }
    
    .contact-us__container__form-right-side__location__phone{
        margin-top: 22px;
    }    
    
    
    /* PRICING */
        
    .pricing__pricing-and-plan{
        padding: 35px 0;
    
    }
    
    .pricing__pricing-and-plan__p{
        padding: 15px 0;
    }
    
    .pricing__pricing-and-plan-block{
        padding: 20px 0;
    }
        
    .pricing__pricing-and-plan-bottom__p{
        font-size: 13px;
        
    }
    
    .pricing__included-with-all-plans{
        padding: 45px 0 60px;
    } 

}

@media (max-width: 576px){
    .all__h2{
        font-size: 18px;      
    }
    
    .all__hr{
        width: 52px;
        margin: 10px auto;
    }
    
    .all__p{
        font-size: 10px;        
    }

    .home__nav__right-side-content__ul{
        display: none;
    } 

    .home__nav__left-side__div{
        display: none;
    }
   
    .home-contain__block-main{
       margin-left: 20px;
    }

    .home__best-and-features{
        padding: 45px 0;
    }

    .home__best-and-features-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .home__best-and-features-content__div{
        width: 100%;
        height: auto;
    }

    .home__cross-browser-content-div {
        padding: 0;
        margin: 0;            
    }

    .home__cross-browser-content-div__block{
        margin-top: 10px;
    }
    .home__cross-browser-content-div-padding{
        padding: 0;
    }

    .home__best-and-features-content__div-p{
        font-size: 10px;
    }

    .home__best-and-features-content__div-h3{
        font-size: 12px;
    }

    .home__best-and-features-content__div-img{
        width: 40px;
        height: 40px;
    }

    .home__best-and-features-hr__height{
        height: 60px;
    }
    
    .home__best-and-features-hr__width{
        width: 60px;
    }

    .home__cross-browser{
        padding: 20px 0 10px; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
          
    .home__cross-browser-content-div__block-div-img{
        width: 20px;
        height: 20px;
    }
    
    .home__cross-browser-content-div__block-div-h3{
        font-size: 12px;
        margin-left: 5px;
    }
    
    .home__cross-browser-content-div__block-p{
        font-size: 10px; 
    }

    .home__cross-browser-content-div__right-side{
        padding: 0;
    }    
    
    .responsive-ready{         
        padding: 25px 0 0; 
    }
            
    .home__responsive-ready-content{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }      
      
    .home__responsive-ready-content__div-h2{
        font-size: 18px;        
        margin-bottom: 5px;
    }   
    
    .home__responsive-ready-content p{
        font-size: 8px;    
    }

    .home__responsive-ready-content__div-rightside{
        margin-left: 10px;
    }    
    
    .home__responsive-ready-content{
        margin-top: 30px;
    }
    
    .home__responsive-ready-content__div-rightside{
        padding: 0 0;
    }
    
    .home__responsive-ready-content__div-h2{
        margin-bottom: 8px;
    }    
        
    .home__responsive-ready-content__div-block{
        margin: 5px 0;
    }
    
    .home__responsive-ready-content__div-block__img{
        width: 15px;
        height: 15px;
    }

    .home__responsive-ready-content__div-block__p{
        font-size: 9px;
    }
    
    .home-valeria__boltneva{
        padding: 60px 0;
    }   
    
    .home-valeria__boltneva-content__p{
        font-size: 13px;
    }    
    
    .home-valeria__boltneva-content__bottom-p{
        font-size: 10px;        
    }

    .home-globus{
        padding: 20px 0;
    }

    .home-globus__content{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .home-globus__content-div__h2{
        font-size: 15px;
        text-align: center;
    }
    
    .home-globus__content-div__p{
        font-size: 10px;
    }  

    .home__pricing-and-plan{    
        padding: 40px 0;          
    }

    .home__pricing-and-plan__items{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .home__pricing-and-plan__items-h3{
        font-size: 10px;        
        margin-bottom: 10px;
    }
    
    .home__pricing-and-plan__items-h4{        
        font-size: 25px;
    }
    
    .home__pricing-and-plan__items-span{
        font-size: 9px;        
    }
    
    .home__pricing-and-plan__items-p{       
        margin: 8px 0;
        font-size: 9px;
    }
    
    .pricing-and-plan__items-p__top{
        margin-top: 20px;
    }        
          
    .home__included-with-all-plans__h2{
        font-size: 15px;
    }     
    
    .home__included-with-all-plans__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home__included-with-all-plans__container-item__img{
        width: 15px;
        height: 15px;
    }
    
    .home__included-with-all-plans__container-item__p{
        font-size: 9px;        
    } 

    .home__need-help{        
        margin-top: 20px;
    }
    
    .home__need-help__img{       
        margin-bottom: 9px;
    }
    
    .home__need-help__h4{
        font-size: 20px;        
    }
    
    .home__need-help__p-bottom{
        margin-bottom: 20px;
    }
    .home__need-help__a{
        font-size: 11px;
    }    
    
    .home__download__now-white-part__container{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }        
    
    .home__download__now-left-side__h2{        
        font-size: 14px;
        text-align: center;
    } 
    
    .home__download__now-left-side__p{        
        margin-top: 10px; 
        font-size: 10px;
    }    
    
    .home__download__now-right-side__button {
        padding: 10px 13px;
        font-size: 8px;
    }    

    footer{
        padding-top: 40px;        
    }

    .home__our__web{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
          
    .home__our__web-wapik__p{
        font-size: 8px;   
    }
    
    .home__our__web-a{        
        font-size: 10px; 
    }
    
    .home__our__web-h3{
        margin-bottom: 11px;   
        font-size: 11px;         
    }      
    
    .home__our__web-wapik__h2{        
        font-size: 17px;       
        margin-bottom: 6px;
    }  

    .home__our__web-a{
        font-size: 9px;   
    }

    .home__our__web-wapik__top-span{
        font-size: 10px;        
        margin-left: 5px;
    }
        
    .home__our__web-newsletter-div{        
        padding: 10px;        
    }  

    .home__footer-div-left-side{
        display: none;
    }
    
    .home__footer-div{
        margin: 12px 0;  
    }
    
    .home__footer__left-side__p {
        font-size: 10px;       
    }
    
    .home__footer__right-side__a{
        width: 26px;
        height: 26px;           
    }
    
    /* ABOUT US */
    
    .about-us-contain__block-main{
        padding: 80px 0;
     }
    
    .about-us-contain__block-main__h1{
        font-size: 25px;       
        margin-bottom: 20px;
    }
    
    .about-us-contain__block-main__button{        
        padding: 15px 20px;       
        font-size: 12px;
    }    
         
    .about-us__block{            
        padding: 45px 0 70px;
    }
    
    .about-us__block-p{    
        padding: 14px 0;
        font-size: 11px;       
    }

    /* ABOUT US MEET OUR TEAM */
    
    .about-us__meet-our-team{       
        padding: 30px 0 60px;       
    }
    
    .about-us__meet-our-team-contain__p{
        padding: 10px 0;
        font-size: 10px;        
    }
    
    .about-us__meet-our-team-contain__div{        
        padding-top: 20px;
    }   
            
    .about-us__download__now-left-side__h2{        
        font-size: 15px;       
        text-align: center;  
    } 

    .about-us__meet-our-team-contain__div-items__h4{
        font-size: 12px;

    }
    
    /* CONTACT US */

    .form-block{
        padding: 25px 0 45px;
    }
       
    .contact-us__container-form-left-side__div-form__button{       
        font-size: 10px;        
        padding: 10px 25px;
    }    

    .contact-us__nav-left-side__phone-content{
        display: none;
    }
    
    .contact-us__container-form-right-side__div-h2{        
        font-size: 12px;        
    }   
        
    .contact-us__container__form-right-side__div-div__img{
        width: 14px;
        height: 14px;        
    }

    .contact-us__container-form-right-side__div-div > p, span{
        margin-left: 9px;       
    }
  
    .contact-us__container__form-right-side__div-div__span{        
        font-size: 10px;
    }
    
    .contact-us__container-form-right-side__div p {
        font-size: 10px;        
    }
    
    .contact-us__container__form-right-side-middle-p, .contact-us__container__form-right-side-bottom-p{
        margin-left: 15px;
    }
    
    .contact-us__container__form-right-side__location{
        margin-top: 10px;
    }
    
    .contact-us__container__form-right-side__location__phone{
        margin-top: 15px;
    }    
    
    
    /* PRICING */
        
    .pricing__pricing-and-plan{
        padding: 25px 0;        
    }
    
    .pricing__pricing-and-plan__p{
        padding: 15px 0;
    }
    
    .pricing__pricing-and-plan-block{
        padding: 20px 0;
    }
        
    .pricing__pricing-and-plan-bottom__p{
        font-size: 13px;
        
    }
    
    .pricing__included-with-all-plans{
        padding: 45px 0 60px;
    }       
}

@keyframes animeOne{
    from{
        color: blue;
    }
    to{
        color: red;
    }
}

@keyframes animeTwo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes animeThree{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(30deg);
    }
}



.active-black{
    color: #000000;
    box-shadow: 0 0 3px 5px #00000050;
    border-radius: 10px;
    padding: 5px;
}

.active-black__black{
    color: #000000;    
}

.active-white{    
    box-shadow: 0 0 3px 5px #00000050;
    border-radius: 10px;
    padding: 5px;
}

.active-white__white{
    color: white;
}


